<h1><%= @tadpole.name %> Tadpole</h1>
<p>color: <%= @tadpole.color %></p>
<p>parent: <%= link_to @tadpole.frog.name, @tadpole.frog %></p>
<p>lives: <%= link_to @tadpole.frog.name, @tadpole.frog.pond %></p>
<p><strong> <%= link_to "Evolve to frog", evolve_tadpole_path(@tadpole) %> </strong> </p>
<%= link_to "Back", tadpoles_path %> | 
<%= link_to "Edit", edit_tadpole_path(@tadpole) %> | 
<%= link_to "Delete", @tadpole, method: :delete %>
